<%= form_for @record, html: get_default_form_html_options(@record), remote: true do |f| %>
  <div>
    <%= f.text_area :observation, class: 'form-control', placeholder: 'Observations', autofocus: true, required: true %>
    <%= f.number_field :quantity, class: 'form-control', placeholder: 'Quantity', required: true %>
    <%= f.text_field :unit, class: 'form-control', placeholder: 'Unit', required: true %>
    <%= render partial: 'partials/search_button', locals: {form: f, column: :hospitalization_id, placeholder: 'Hospitalization', search_for: 'Hospitalizations', class_to: 'modal_search_button'} %>
    <%= text_field_tag :medicaments, nil, class: 'form-control', id: 'tokenfield-typeahead', placeholder: 'Type in a Medicament...' %>
  </div>
  <div>
    <%= f.submit action, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>