<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @prescription.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @prescription.unit %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @prescription.diet %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @prescription.calories %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
