<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @medical_record.description %>
</p>

<p>
  <strong>Historic:</strong>
  <%= @medical_record.historic %>
</p>

<%= link_to 'Edit', edit_medical_record_path(@medical_record) %> |
<%= link_to 'Back', medical_records_path %>
