<% columns = get_columns_of(records) %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <% columns.each do |column| %>
          <th><%= column.humanize %></th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% records.each do |record| %>
        <tr>
          <% columns.each do |column| %>
            <td><%= record[column] %></td>
          <% end %>
          <td><%= link_to 'Show', record %></td>
          <td><%= link_to 'Edit', send("edit_#{records.table.name.singularize}_path", record) %></td>
          <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <p>
    <a role="button" class="btn btn-primary btn-lg" href="<%= send("new_#{records.table.name.singularize}_path") %>">New</a>
  </p>
</div>
