<% return unless records
   title = records.table.name.titleize
   index_path_pdf = "#{records.table.name}.pdf"
   name_singular = records.table.name.singularize %>

<%= render partial: 'partials/modal', locals: {id: 'formModal', title: title, size: 'modal-sm'} %>
<%= render partial: 'partials/modal', locals: {id: 'searchModal', title: '', size: 'modal-lg'} %>
<%= render partial: 'partials/modal', locals: {id: 'listingModal', title: title, size: 'modal-lg'} %>
<% columns = get_columns_of(title) %>

<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2">
    <%= link_to fa_icon('plus 2x'), send("new_#{name_singular}_path"), class: "btn btn-right", role: 'button', remote: true unless canAdd?(title) %>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8">
    <h1><%= title %></h1>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    <%= link_to fa_icon('file-pdf-o 2x'), "/#{index_path_pdf}", class: "btn btn-right", role: 'button' unless canGenerateReport?(title) %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <% columns.each do |column| %>
              <th><%= column.gsub('_',' ').titleize %></th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% records.each do |record| %>
            <tr>
              <% columns.each do |column| %>
                <td><%= record[column] %></td>
              <% end %>
              <td class='icons-cell'>
                <%= link_to fa_icon('bars 2x'), "/get_details_for?patient_id=#{record.patient_id}", remote: true unless not get_details_for?(title) %>
                <%= link_to fa_icon('folder-open 2x'), "/medical_records?patient=#{record.id}" unless not list_records_for?(title) %>
                <%= link_to fa_icon('edit 2x'), send("edit_#{name_singular}_path", record), remote: true unless canEdit?(title) %>
                <%= link_to fa_icon('trash-o 2x'), record, method: :delete, remote: true, data: { confirm: 'Are you sure?' } unless canDelete?(title) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>