<%= form_for(@hospitalization) do |f| %>
  <% if @hospitalization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospitalization.errors.count, "error") %> prohibited this hospitalization from being saved:</h2>

      <ul>
      <% @hospitalization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :procedures %><br>
    <%= f.text_field :procedures %>
  </div>
  <div class="field">
    <%= f.label :treatments %><br>
    <%= f.text_field :treatments %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :medicalrecord_id %><br>
    <%= f.text_field :medicalrecord_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
