<%= form_for @record, html: get_default_form_html_options(@record), remote: true do |f| %>
  <div>
    <%= f.text_field :location, class: 'form-control', placeholder: 'Location', autofocus: true, required: true %>
    <%= f.text_field :procedures, class: 'form-control', placeholder: 'Procedures', required: true %>
    <%= f.text_field :treatments, class: 'form-control', placeholder: 'Treatments', required: true %>
    <%= render partial: 'partials/search_button', locals: {form: f, column: :patient_id, placeholder: 'Patient', search_for: 'Patients', class_to: 'modal_search_button'} %>
  </div>
  <div>
    <%= f.submit action, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>