<%= form_for @record, html: get_default_form_html_options(@record), remote: true do |f| %>
  <div>
    <%= f.text_field :location, class: 'form-control', placeholder: 'Location', autofocus: true, required: true %>
    <%= f.text_field :procedures, class: 'form-control', placeholder: 'Procedures', required: true %>
    <%= f.text_field :treatments, class: 'form-control', placeholder: 'Treatments', required: true %>
    <%= f.text_field :user_id, class: 'form-control', placeholder: 'User', required: true %>
    <%= f.text_field :medicalrecord_id, class: 'form-control', placeholder: 'Medical Record', required: true %>
  </div>
  <div>
    <%= f.submit action, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>