<p id="notice"><%= notice %></p>

<p>
  <strong>Inventory:</strong>
  <%= @inventory_movement.inventory %>
</p>

<p>
  <strong>Medicament:</strong>
  <%= @inventory_movement.medicament %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory_movement.quantity %>
</p>

<p>
  <strong>Unit value:</strong>
  <%= @inventory_movement.unit_value %>
</p>

<p>
  <strong>Total value:</strong>
  <%= @inventory_movement.total_value %>
</p>

<p>
  <strong>Type:</strong>
  <%= @inventory_movement.type %>
</p>

<%= link_to 'Edit', edit_inventory_movement_path(@inventory_movement) %> |
<%= link_to 'Back', inventory_movements_path %>
