<%= form_for @record, html: get_default_form_html_options(@record), remote: true do |f| %>
  <div>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description', autofocus: true, required: true %>
    <%= f.text_area :observations, class: 'form-control', placeholder: 'Observations', required: true %>
    <div class="checkbox">
      <label>
        <%= f.check_box :scheduled, class: 'checkbox', placeholder: 'Scheduled' %>
        Scheduled?
      </label>
    </div>
    <%= render partial: 'partials/search_button', locals: {form: f, column: :medical_record_id, placeholder: 'Medical Record', search_for: 'Medical Records', class_to: 'modal_search_button'} %>
  </div>
  <div>
    <%= f.submit action, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>