<%= form_for @record, html: get_default_form_html_options(@record), remote: true do |f| %>
  <div>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description', autofocus: true, required: true %>
    <%= f.text_area :observations, class: 'form-control', placeholder: 'Observations', required: true %>
    <div class="checkbox">
      <label>
        <%= f.check_box :scheduled, class: 'checkbox', placeholder: 'Scheduled' %>
        Scheduled?
      </label>
    </div>
    <%= f.text_field :medical_record_id, class: 'form-control', placeholder: 'Medical Record', required: true %>
  </div>
  <div>
    <%= f.submit action, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>