<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @procedure.description %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @procedure.observations %>
</p>

<p>
  <strong>Scheduled:</strong>
  <%= @procedure.scheduled %>
</p>

<p>
  <strong>Medicalrecord:</strong>
  <%= @procedure.medicalrecord %>
</p>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> |
<%= link_to 'Back', procedures_path %>
