<%= form_for @record, html: get_default_form_html_options(@record), remote: true do |f| %>
  <div>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description', autofocus: true, required: true %>
    <%#= f.date_select :desactivation, class: 'form-control', placeholder: 'Desactivation', required: true %>
		<div id="special_care_desactivation_date">
			<div class="input-group date">
    		<%= f.text_field :desactivation, class: 'form-control', placeholder: 'Desactivation', required: true %><span class="input-group-addon"><%= fa_icon 'calendar' %></span>
			</div>
		</div>
    <%= f.text_field :hospitalization_id, class: 'form-control', placeholder: 'Hospitalization', required: true %>
  </div>
  <div>
    <%= f.submit action, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>