<%= form_for(@special_care) do |f| %>
  <% if @special_care.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@special_care.errors.count, "error") %> prohibited this special_care from being saved:</h2>

      <ul>
      <% @special_care.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :desactivation %><br>
    <%= f.date_select :desactivation %>
  </div>
  <div class="field">
    <%= f.label :hospitalization_id %><br>
    <%= f.text_field :hospitalization_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
