<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @special_care.description %>
</p>

<p>
  <strong>Desactivation:</strong>
  <%= @special_care.desactivation %>
</p>

<p>
  <strong>Hospitalization:</strong>
  <%= @special_care.hospitalization %>
</p>

<%= link_to 'Edit', edit_special_care_path(@special_care) %> |
<%= link_to 'Back', special_cares_path %>
