<%= render partial: 'partials/notifications' %>

<%= form_for @exam, html: get_default_form_html_options(@exam) do |f| %>
  <div>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description', autofocus: true, required: true %>
    <%= f.text_area :observations, class: 'form-control', placeholder: 'Observations', required: true %>
    <%= f.text_area :archive, class: 'form-control', placeholder: 'Archive', required: true %>
    
    <div class="checkbox">
      <label>
        <%= f.check_box :scheduled, class: 'checkbox', placeholder: 'Scheduled' %>
        Scheduled?
      </label>
    </div>

    <%= f.text_field :medicalrecord_id, class: 'form-control', placeholder: 'Medical Record', required: true %>
  </div>
  <div>
    <%= f.submit action, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
