<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @exam.observations %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @exam.archive %>
</p>

<p>
  <strong>Scheduled:</strong>
  <%= @exam.scheduled %>
</p>

<p>
  <strong>Medicalrecord:</strong>
  <%= @exam.medicalrecord %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
